.about-me-section {
    .title {
        @include jost-Regular;
        font-size: 60px;
        line-height: 1.45;
        color: #BDFF00;
        text-transform: capitalize;
        margin-bottom: 26px;
        text-align: center;
    }

    .items-wrap {

        @include min-small {
            margin: 0 -10px;
            @include display-flex;
        }
    }

    .item {

        @include min-small {
            padding: 0 10px;
            width: 33.33%;
        }
        
    }

    .item-wrap {
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
    }
}